phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver/
geckodriver_cdnurl=https://mirrors.huaweicloud.com/geckodriver/
sentrycli-cdnurl=https://npm.taobao.org/mirrors/sentry-cli/
registry=https://registry.npm.taobao.org